*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    font-size:large;
}
body{
   background:radial-gradient(circle,#483d88,#191970,#008888);
   color: white;    
}
 
.top-bar{
    background: linear-gradient(77deg,#000020,#483D88,#191970,#000020);
    display: flex;
    vertical-align: middle;
    width: 100%;
    justify-content:space-between;
    align-items: center;
    border: 2px solid black;
   
}
.logo{
    margin-left: 25px;
    text-decoration: none;
}

.logo span{
    color: rgb(0, 255, 255);
    -webkit-text-stroke: 0.95px black;
    font-size: 25px;
    position: relative;
    display: inline-block;
    animation:wave 1s calc(70ms*var(--1)) ease-in-out infinite  ;
    
}
@keyframes wave{
   0%,
   40%,
   100%{
    transform: translateY(0);
   }   
   20%{
    transform: translateY(-20px);
   }
}
.profile {
  display: flex;
  margin: 10px;
}

.profile a{
   text-decoration: none;
    margin: 10px;
    padding: 6px;
    
}

.profile p{
   font-weight: 200; 
   color:#c68aee ;
   padding: 7px 20px;
   text-shadow:1px 0px 4px black;
   transition: all 0.75s ease ;
   border: transparent 1px solid;
}
.profile p:hover{
    color: #000020;
    background-color: rgba(88, 121, 139, 0.267);
    border-radius: 15px;
    border: #c68aee 1px solid;
    background-color: #c68aee;
    box-shadow:0px 2px 5px #c68aee,2px 0px 10px #c68aee;
 }
 nav{
    position: sticky;
    top: 0;
 }
.nav-bar{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(9, 120, 247);
    width: 100%;
    padding: 10px;
} 
.nav-item{
    margin: 2px;
    padding: 3px;
}
.nav-item a{
    text-decoration: none;
    color: #b8eff7; 
    padding: 7px 40px;
    
    transition: all 0.5s ease;
}
.nav-item a:hover{
     
    background-color: #3ab5c567;
    color:aqua;
    text-shadow: 2px 0px 4px #1100ff;
    border-radius: 7px;
}
.nav-item a:focus{
    
    background-color:#3ab5c567 ;
    border-radius: 7px;
    color: gold;
}

section{
    margin: 5px;
}
.section-1{
    height: 100%;
    margin: 50px 0px 100px 0px;
    padding: 10px 5px 20px;
}
.section-1 h1{
    text-align: center;
    margin: 30px;
    margin-bottom: 50px;
    color: rgb(43, 109, 196);
    text-shadow: 0px 1px 5px black;
}
.section-1 :where(h2,h3){
    text-align: end;
    margin-right: 30px;
    
}
.section-1>.photo{
display: flex;
align-items: center;
}


.section-1 img{
    width:250px;
    margin: 40px;
    border: black 2px solid;
  
}

.section-1 p{
    text-align:center;
    padding: 10px;
    margin: 20px;
   
}

.section-2{
    padding: 25px;
    margin: 25px;
   padding-bottom: 75px;
}
 hr{
    background-color:  #2dc6dd;
    height: 3px;
    margin: 0px;
}
.section-2 h1{
    margin: 30px 0px;
    padding: 10px 0px;
    margin-bottom: 20px;
    color:  #6cdbec;
    text-align: center;
    }
.section-2>.about-1{
    margin: 10px 0px;
    padding: 5px 0px;
}
.section-2 h3{
    color:rgb(199, 105, 243);
}
.section-2 h3{
    margin: 5px 0px;
    padding: 10px 0px;    
}
.section-3{
    padding: 25px;
    margin: 25px;
   padding-bottom: 50px;
}
.section-3 h1{
    text-align: center;
    padding: 10px;
    margin:20px ;
    color: #2dc6dd;
}
.section-3 h3{
    margin: 10px 0px;
    padding: 10px 0px;
    color: #6cdbec;
}
.skill-2 {
    margin-bottom: 50px;
    display: block;
}
.skill-2 a{
    text-decoration: none;
    font-style: oblique ;
    color: red;
}
.skill-3{
    padding-top: 30px;
}
.skill-3 h3{
    text-align: center;
    color: #6cdbec;
}
.skill-3 h4{
    margin: 10px 0px;
    padding: 5px 0px;
    color: #959ae2;
}
.skill-3 p{
    color: #c4f0f8;
    
}
.contact{
    background-color: #000020;
    padding: 20px;
  
}
.foot{
    
    padding: 5px;  
}
.foot h3{
    margin-bottom: 15px;
    color: rgb(253, 6, 121);
}
.foot-a{
    display: block;
    text-decoration: none;
    color: aqua;
    margin: 1.5rem;
   width: 10rem;
   transition: background-color 0.7s ease,color 0.5s ease,width 0.7s ease,border-radius 0.7s ease, border 2s ease-in-out;
   padding: 7px;
   border: 1px solid transparent;
}
.foot-a:hover{
    background-color: aqua;
    color: #1100ff;
    width: 47rem;
    border-radius: 7px; 
    border: 1px solid red;
   
}
.foot-a:focus{
    background-color: red;
    color: aqua ;
    width: 20rem;
    transition: all 0.1s ease;
}
